.container{
    padding: 5% 20%;
}

.container span{

}

.container input{
    appearance: none;
    border-radius: 0.3rem;
    border: 1px solid grey;
    padding: 0.3rem 0.4rem;
}

.container textarea{
    width: 20rem;
    height: 3rem;
    resize: none;
}