* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: inter;
  /* color: white; */
}

html,
body {
  /* background-color: #222; */
  /* overflow-x: hidden; */
  width: 100%;
}

#main {
  width: 100%;
}

@keyframes opacity {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

main {
  margin: 2rem 2rem 2rem 2rem;
  animation: opacity 0.3s ease all forward;
}

#favicon {
  width: 2rem;
  background-color: white;
}

.listing-container {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  overflow: hidden;
}

.listing-card {
  width: 100%;
  margin: 0 0.3rem;
  flex: 1;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
  padding: 0.7rem;
  border-radius: 0.4rem;
  transition: 0.3s ease all;
}

.listing-card img {
  width: 13rem;
  transition: 0.3s ease all;

  height: 10rem;
  border-radius: 2rem;
}

.listing-card:hover {
  transform: scale(1.01);
  transition: 0.3s ease all;
}

.listing-card:hover img {
  transform: scale(1.03);
  transition: 0.3s ease all;
}

.listing-card p {
  font-size: 0.8rem;
}

.title {
  color: black;
  padding: 0.5rem 0 0.5rem 0;
}

.add-info {
  opacity: 0.7;
  font-size: 0.5rem;
  padding: 0 0 0.5rem 0;
}

a {
  text-decoration: none;
  color: black;
}

@media (max-width: 400px) {
  html,
  body {
    width: 100vw;
  }

  #main {
    width: 100vw;
  }

  main {
    margin: 1rem;
  }

  .listing-container {
    width: 100%;
    margin: 1rem;
  }

  .listing-card {
    width: 100%;
    padding: 1rem;
    margin: 1rem;
  }

  .listing-card img {
    justify-content: flex-start;
  }
}
