* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: inter;
  /* color: white; */
}

html {
  scrollbar-gutter: stable;
}

html,
body {
  /* background-color: #222; */
  /* overflow-x: hidden; */
  width: 100%;
}

#main {
  width: 100%;
}

header {
  background-color: #fdfdfd;
  border-bottom: 2px solid #eaeaea;
}

nav {
  height: 4rem;
  padding: 1rem 3rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#stayly-logo {
  /* width: 3rem; */
  height: 100%;
  margin-top: 6px;
}

.nav-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
  height: 100%;
  gap: 0.2rem;
}

.nav-left > p {
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 2.5rem;
}

.nav-middle {
  flex: 1;
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
}

.nav-right {
  flex: 1;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: flex-end;
  gap: 1.5rem;
}

.header-down {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4.3rem;
  margin-top: 1rem;

  padding: 0.5rem 0;
}

.header-options {
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: space-between;
  border-radius: 100vw;
  background-color: white;
  height: 90%;
  padding: 0 1rem;
  border: 2px solid #eaeaea;
}

main {
  padding: 0 1rem 0 1rem;
}

.listing-container {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  overflow: hidden;
  margin-top: 1rem;
}

.listing-card {
  width: fit-content;
  align-items: center;
  justify-content: space-evenly;
  overflow: hidden;
  padding: 0.7rem;
  border-radius: 0.4rem;
  transition: 0.3s ease all;
}

.listing-card img {
  width: 13rem;
  transition: 0.3s ease all;

  height: 10rem;
  border-radius: 2rem;
}

.listing-card:hover {
  transform: scale(1.01);
  transition: 0.3s ease all;
}

.listing-card:hover img {
  transform: scale(1.03);
  transition: 0.3s ease all;
}

.listing-card p {
  font-size: 0.8rem;
}

.title {
  color: black;
  padding: 0.5rem 0 0.5rem 0;
}

.add-info {
  opacity: 0.7;
  font-size: 0.5rem;
  padding: 0 0 0.5rem 0;
}

footer {
  width: 100%;
  height: 20rem;
}

.footer-left img {
  width: 2.5rem;
}

nav button {
  appearance: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.head {
  height: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.head > p{
  color: black;
  font-size: 1.6rem;
  font-weight: 500;
}

.head p:nth-child(2) {
  font-size: 0.6rem;
  /* margin-left: 1rem; */
}

.nav-right input {
  appearance: none;
  border: 1px solid grey;
  padding: 0.5rem 1rem;
  border-radius: 100vw;
  transition: 0.3s ease all;
}

.nav-right input:focus{
  appearance: none;
  outline: 1px solid grey;
  border: none;
}

.nav-right input:hover{
  transform : scale(1.02);
  transition: 0.3s ease all;
}

.nav-right i{
  transition: 0.2s ease all;
}

.nav-right i:hover{
  transform: scale(1.03);
  transition: 0.2s ease all;
}

a{
  text-decoration: none;
  color: black;
}